* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 800px;
    height: 800px;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
}

#pixel {
    display: flex;
    flex-grow: 1;
    border: 1px solid red;
}

#pixel:hover {
    background-color: brown;
}

#smallerContainer {
    display: flex;
    flex-grow: 1;
}